@import "macchiato.css";

* {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: alpha(@surface0, 0.6);
  margin-left: 1rem;
  border: 2px solid alpha(@overlay0, 0.8);
}

#workspaces button {
  color: alpha(@lavender, 0.6);
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#window,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: alpha(@surface0, 0.6);
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#window,
#tray {
  border-radius: 1rem;
  border: 2px solid alpha(@overlay0, 0.8);
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
  border-top: 2px solid alpha(@overlay0, 0.8);
  border-bottom: 2px solid alpha(@overlay0, 0.8);
  border-right: 2px solid alpha(@overlay0, 0.8);

}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
  border-top: 2px solid alpha(@overlay0, 0.8);
  border-bottom: 2px solid alpha(@overlay0, 0.8);
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
  border-left: 2px solid alpha(@overlay0, 0.8);
  border-top: 2px solid alpha(@overlay0, 0.8);
  border-bottom: 2px solid alpha(@overlay0, 0.8);

}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
  border-top: 2px solid alpha(@overlay0, 0.8);
  border-bottom: 2px solid alpha(@overlay0, 0.8);
  border-left: 2px solid alpha(@overlay0, 0.8);
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
  border-top: 2px solid alpha(@overlay0, 0.8);
  border-bottom: 2px solid alpha(@overlay0, 0.8);
  border-right: 2px solid alpha(@overlay0, 0.8);
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}